# Dependencies
node_modules/
dist/

# Playwright outputs
test-results/
playwright-report/
blob-report/
/coverage

# Allure
allure-results/
allure-report/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
